.quizthumbnail {
	width: 100%
	max-width: 800px;
	overflow: hidden;
	text-align: left;
	
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 5px;
	margin-right: 0px;
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
	border: none;
	background-color: #E5F4F3;
	box-shadow: 3px 5px 5px #AAAAAA;
	border-radius: 15px;
}

.quizthumbnail > a {
	text-decoration: none;
	color: #FFFFFF;
}

.quizName {
	border-bottom: none;
	width: 100%;
	overflow: auto;
	font-size: 34px;
	font-weight: bold;
	display: block;
	margin-top: 0px;
	margin-bottom: 5px;
	background-color: #000055;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 5px;
	text-decoration: none;
}

.quizName:hover {
	background-color: #000077;
}

.quizthumbnailstats {
	width: 30%;
	height: 110px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	font-size: 16px;
	font-weight: normal;
}

.quizthumbnailstats span {
	display: block;
	margin-bottom: 3px;
}

.quizthumbnailstats a {
	text-decoration: none;
}

.quizthumbnaildescription {
	width: 65%;
	overflow: auto;
	height: 100px;
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
}