body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	font-family: sans-serif;
}

/* Style sheet for Qwizard website */

.header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 8px;
	text-align: center;
	background-color: #000055;
}

.sharedheadermainpanel {
	position: relative;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.sharedheaderleftpanel {
	width: 60%;
	text-align: left;
}

.sharedheaderrightpanel {
	width:25%;
	text-align: right;
	position: absolute;
	bottom: 0px;
	right: 5px;
}

.responsive-logo {
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.sharedheaderleftpanel a:link { color: #FFFFFF; }
.sharedheaderleftpanel a:visited { color: #FFFFFF; }
.sharedheaderleftpanel a:hover { color: #FFFFFF;}
.sharedheaderleftpanel a:active { color: #FFFFFF;}
.headerlinks a:hover { color: #EEEEFF;}
.headerlinks a:active { color: #DDDDFF;}


.logo-image {
	position: relative;
	top: 10px;
}

.logo-text {
	font-size: 52px;
}

.copyright {
	font-size: 35%;
	vertical-align: super;
}

.headerlinks {
	padding-top: 10px;
}

.headerlink {
	padding-left: 5px;
	padding-right: 15px;
}

.header a:link {
	text-decoration: none;
	font-color: red;
}

.sharedheaderrightpanellink {
	display: inline-block;
	color: #FFFFFF;
	font-weight: lighter;
	outline: none;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 0px;
	margin-top: 10px;
	margin-left: 5px;
}

.sharedheaderrightsignup {
	background-color: #3B5998;
	color: #FFFFFF;
}

#profilelink {
	color: white;
	text-decoration: underline;
	font-weight: 500;
}

#sharedheaderlink1 { display: inline-block; }
#sharedheaderlink2 { display: inline-block; }
#sharedheaderlink3 { 
	display: none; 
	padding-right: 0px;
}
#sharedheaderlink4 { display: none; }


.sharedFooter {
	font-size: 14px;
	background-color: #DDDDDD;
	color: #CCCCCC;
	text-align: center;
	width: 100%;
	
	bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
}

.footerLinks {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.footerLink {
	margin-left: 10px;
	margin-right: 10px;
}

.sharedFooter a:link { color: #999999; }
.sharedFooter a:visited { color: #999999; }
.sharedFooter a:hover { color: #999999;}
.sharedFooter a:active { color: #999999;}

