.mainBody {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.searchFrame {
	border: 2px solid;
	border-radius: 25px;
	background-color: #DDDDDD;
	font-color: black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-top: 0px;
}

.searchinstructions {
	font-size: 44px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 15px;
}

.searchlabel {
	font-size: 16px;
	font-weight: bold;
}

.searchtextbox {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	width: 95%;
}

.searchbutton {
	background-color: #DFDC55;
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	outline: none;
}

.advancedsearchlink {
	width: 95%;
	text-align: right;
	padding-bottom: 5px;
	margin-bottom: -10px;
	margin-right: 0px;
	padding-right: 0px;
	color: #000055;
}

.advancedsearchlink a {
	color: #0000AA;
	font-size: 18px;
}

.usersearchresults {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.usersearchresults .noSearchResults {
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 100px;
}

.advancedSearchForm .criteriaSelect {
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
	display: block;
}

.advancedSearchForm select {
	position: relative;
	top: -3px;
}

.advancedSearchForm .searchInputs {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.advancedSearchForm .searchBlock {
	display: inline-block;
	width: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.advancedSearchForm .leftSearchBlock {
	padding-right: 40px;
}

.advancedSearchForm .searchlabel {
	display: block;
	padding-left: 2px;
}

.advancedSearchForm .searchField {
	font-size: 24px;
	display: block;
	width: 252px;
}

.advancedSearchForm .longSearchField {
	width: 365px;
}