.userprofilethumbnail {
	width: 100%
	max-width: 800px;
	overflow: auto;
	text-align: left;
	
	margin-top: 15px;
	margin-bottom: 35px;
	margin-left: 5px;
	margin-right: auto;
	
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 0px;
	
	border-bottom: 1px solid lightgrey;
}

.userprofilethumbnail > a {
	text-decoration: none;
}

.profilepicturecontainer {
	width: 130px;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	overflow: hidden;
	display: inline-block;
	horizontal-align: center;
}

.profilepicturethumbnail {
	height: 130px;
	width: auto;
	max-width: 130px;
	min-width: 60px;
	border: none;
}

.profilethumbnailinfo {
	width: 40%;
	height: 130px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.profilethumbnailname {
	font-size: 26px;
	font-weight: bold;
	display: block;
	margin: 0px;
	padding: 0px;
}

.profilethumnbnailname a {
	color: black;
	text-decoration: none;
}

.profilethumbnailname a:link {
	color: black;
	text-decoration: none;
}

.profilethumbnailname a:hover {
	text-decoration: underline;
}

.profilethumbnailstats {
	margin-top: 14px;
	font-size: 18px;
}

.profilethumbnailstats span {
	display: block;
	vertical-align: bottom;
	margin: 0px;
	padding: 0px;
}

.profilethumbnailbuttons {
	width: 160px;
	height: 130px;
	display: inline-block;
	vertical-align: top;
	horizontal-align: right;
	margin: 0px;
	padding: 0px;
}

.profilethumbnailbuttons input {
	display: block;
	text-align: center;
	horizontal-align: right;

	width: 160px;
	overflow: hidden;

	margin-bottom: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 3px;
	padding-right: 3px;

	font-weight: bold;
	font-size: 16px;
	outline: none;
	
	background-color: #3B5998;
	color: #FFFFFF;
}

.profilethumbnailbuttons .addFriendBtn {
	background-color: #3B5998;
	color: #FFFFFF;
}

.profilethumbnailbuttons .alreadyFriendsBtn {
	color: black;
	background-color: #EEEEEE;
	box-shadow: none;
	border: 1px solid grey;
}

.profilethumbnailbuttons .selfBtn {
	color: black;
	background-color: #EEEEEE;
	box-shadow: none;
	border: 1px solid grey;
}

.profilethumbnailbuttons .pendingBtn {
	color: black;
	background-color: #EEEEEE;
	box-shadow: none;
	border: 1px solid grey;
}

.profilethumbnailbuttons .confirmBtn {
	background-color: #71AB57;
}

.profilethumbnailbuttons .loginBtn {
	color: black;
	background-color: #DFDC55;
}

.profilethumbnailbuttons .successfulRequestBtn {
	background-color: #71AB57;
}

.profilethumbnailbuttons .errorBtn {
	background-color: #FBB1B7;
}

.profilethumbnailbuttons .msgBtn {
	background-color: #3B5998;
	color: #FFFFFF;
}
