.mainBody {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.searchFrame {
	border: 2px solid;
	border-radius: 25px;
	background-color: #DDDDDD;
	font-color: black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-top: 0px;
}

.searchinstructions {
	font-size: 44px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.searchlabel {
	font-size: 16px;
	font-weight: bold;
}

.searchtextbox {
	display: block;
	font-size: 24px;
	margin-bottom: 10px;
	width: 95%;
}

.searchbutton {
	background-color: #DFDC55;
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	outline: none;
}

.advancedsearchlink {
	width: 95%;
	text-align: right;
	padding-bottom: 0px;
	margin-bottom: -10px;
	margin-right: 0px;
	padding-right: 0px;
	color: #000055;
}

.advancedsearchlink a {
	color: #0000AA;
	font-size: 18px;
}

